body {
    background-color: #01fd774e;
}
html {font-family: "Nome da Fonte", sans-serif;}
h1 {text-align: center ; color:blue }
h2 {color:blue }
p {color:purple }
ul {color:purple }
ol {color:purple }




